body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #222;
  color: #fff;
}

html,
body,
#root {
  height: 600px;
  width: 1024px;
  background-color: #000800ff;
}

body {
  background-color: #313131;
}

#grandparent {
  mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem;
}