.frame {
    border: 2px;
    height: 450px;
    width: 972px;
    margin: auto;
    border-color: #00ee00;
    border-style: solid;
}

.divContainer {
    height: 100%;
    width: 100%;
}

.mainGrid {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-areas: 'first second second';
    width: 100%;
    height: 100%;
}

.gridItem1 {
    grid-area: first;
    padding: auto;
    height: 100%;
}

.gridItem2 {
    grid-area: second;
    /*    margin: auto; */
}

.listBox {
    border: 2px;
    height: 80%;
    width: 90%;
    margin: auto;
    border-color: #ffffff;
    border-style: solid;
    padding-top: 2%;
    padding-left: 3%;
}

.listBoxItem {
    list-style-type: none;
}

.listBoxLabel {
    font-size: 20;
    margin-bottom: 1%;
    margin-left: 15%;
    font-weight: var(--theme-font-weight-bold)
}

.buttonFlexBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2%;
    padding-left: 3%;
}

.verticalFlexButton {
    border: 3;
    width: 70%;
    font-weight: var(--theme-font-weight-bold);
}