.styledTabButton {
    border: 0;
    width: 244px; /* (1024 - 48)/4 */
}

#activeTab{
    color: var(--theme-secondary-color);
    border-radius: 2px;
    border-color: var(--theme-main-color);
    background-color: var(--theme-main-color);
}