.styledTabButton {

    text-transform: 'none';
    font-weight: 800;
    font-size: 18;
    color: var(--theme-main-color);
    border: 2;
    border-color: var(--theme-main-color);
    width: (1024 - 48) / 4;
    background-color: #000000;
    font-family: 'monospace';
    text-align: 'center';
}